<% content_for :breadcrumb_title do %>
  <%= @school.name %>
<% end %>
<% content_for :bc_second_level do %>
  <%= @school.town.name.titleize %>
<% end %>
<% content_for :bc_third_level do %>
  <%= @school.town.county.name.titleize %>
<% end %>
<% content_for :bc_fourth_level do %>
  <%= @school.town.county.state.roman_code %> Región
<% end %>

<div class="row content-boxes-v1">
  <div class="col-md-8">
    <%= render partial: 'topbox',
               locals: { icon: 'university', string: @school.dependency.name} %>

    <%= render partial: 'topbox',
               locals: { icon: 'university', string: "#{@school.enrollments.first.total} Alumnos<br /> ( #{@school.students_per_course} por curso )".html_safe } %>

    <%= render partial: 'topbox',
               locals: { icon: 'heart', string: @school.religion.short_name } %>

    <%= render partial: 'topbox',
               locals: { icon: @school.genre[:icon], string: @school.genre[:string] } %>

    <div class="col-md-4">
      <div class="circle" id="circles-2"></div>
    </div>

  </div>

  <div class="col-md-4">
    <div class="service-block service-block-dark-blue">
    <h2><i class="icon-2x color-light icon-line icon-trophy"></i>Rankings</h2>
    <ul>
      <li>Lugar # de # en Chile (Municipales)</li>
      <li>Lugar # de # en Chile (Municipales)</li>
      <li>Lugar # de # en Chile (Municipales)</li>
      <li>Lugar # de # en Chile (Municipales)</li>
    </ul>
    </div>
  </div>
</div>
<hr class="devider devider-dotted">
<div class="row">
  <div class="col-md-4 shadow-wrapper">
    <div class="tag-box tag-box-v1 box-shadow shadow-effect-1">
        <h2><i class="icon-custom rounded icon-sm icon-bg-blue fa fa-certificate"></i>Niveles</h2>
        <ul>
        <%= render @school.levels %>
        </ul>
    </div>
  </div>
  <div class="col-md-4 shadow-wrapper">
    <div class="tag-box tag-box-v1 box-shadow shadow-effect-1">
        <h2><i class="icon-custom rounded icon-sm icon-bg-blue fa fa-envelope"></i>Contacto</h2>
        <ul>
          <li><%= link_to "Ver Mapa" %></li>
          <li><%= @school.address.titleize %></li>
          <li><%= @school.phone %></li>
          <li><%= @school.mobile %></li>
        </ul>
    </div>
  </div>
  <div class="col-md-4 shadow-wrapper">
    <div class="tag-box tag-box-v1 box-shadow shadow-effect-1">
        <h2><i class="icon-custom rounded icon-sm icon-bg-blue fa fa-dollar"></i>Aranceles</h2>
        <ul>
          <li>Matricula: <%=  @school.tuition_fee.name  %></li>
          <li>Mensualidad: <%= @school.monthly_fee.name %></li>
          <li>Grupo Socio-Economico: Medio</li>
        </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6 shadow-wrapper">
     <div class="tag-box tag-box-v1 box-shadow shadow-effect-1">
        <h2>PSU</h2>
        <%= image_tag 'https://camo.githubusercontent.com/caecea5160d2273923e02307478178bc3258322d/687474703a2f2f70656c74696572746563682e636f6d2f696d616765732f323030392d31312f4261724c696e655f436f6c756d6e4c696e652e706e67' %>
     </div>
  </div>
  <div class="col-md-6 shadow-wrapper">
     <div class="tag-box tag-box-v1 box-shadow shadow-effect-1"><h2>SIMCE</h2>
     <%= image_tag 'https://camo.githubusercontent.com/caecea5160d2273923e02307478178bc3258322d/687474703a2f2f70656c74696572746563682e636f6d2f696d616765732f323030392d31312f4261724c696e655f436f6c756d6e4c696e652e706e67' %></div>
  </div>
</div>
<hr class="devider devider-dotted">

<%= render 'disqus' %>

<pre>
  RBD: <%= @school.id %>
  Nombre: <%= @school.name %>
  Comuna: <%= @school.town.name %>
  Provincia: <%= @school.town.county.name %>
  Telefono: <%= @school.phone %>
  Celular: <%= @school.mobile %>
  Direccion: <%= @school.address %>
  Lat/Long: <%= @school.latitude %>, <%= @school.longitude %>
  Religion: <%= @school.religion.name %>
  Dependencia: <%= @school.dependency.name %>
  Matricula: <%= @school.tuition_fee.name %>
  Mensualidad: <%= @school.monthly_fee.name %>
  Rural: <% if @school.rural? %> Rural <% else %> Urbano <% end %>
  Grupo Socio-Económico:

  Niveles:
  <%= render @school.levels %>

  PSU:
  <%= render @school.psus %>

  SIMCE:
  <%= render @school.simces %>

</pre>
        <script type="text/javascript">var myCircle = Circles.create({
  id:           'circles-2',
  radius:       60,
  value:        6.3,
  maxValue:     7.0,
  width:        5,
  text:         function(){return this.htmlifyNumber(this.getValue()) ;},
  colors:      ['#C9FF97', '#72c02c'],
  duration:       400,
  wrpClass:     'circles-wrp',
  textClass:     'circles-text',
  styleWrapper: true,
  styleText:    true
});</script>