<p>* <%= simce.simce_test.name %> (<%= simce.year %>) => Curso: <%= simce.grade_name.name %>, Promedio: <%= simce.average %>
Diferencia con respecto año anterior: <%= simce.dif %> ( <%= simce.sig? %> )
</p>