<!--=== Breadcrumbs ===-->
<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left"><%= yield(:breadcrumb_title).titleize %></h1>
        <ul class="pull-right breadcrumb">
            <li><a href=""><%= yield(:bc_fourth_level) %></a></li>
            <li><a href=""><%= yield(:bc_third_level) %></a></li>
            <li><a href=""><%= yield(:bc_second_level) %></a></li>
            <li class="active"><%= truncate(yield(:breadcrumb_title).titleize, length: 20) %></li>
        </ul>
    </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->