<!--=== Header v3 ===-->
<div class="header-v3">
    <!-- Navbar -->
    <div class="navbar navbar-default mega-menu" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="fa fa-bars"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <%= image_tag("logo.png", id: "logo-header") %>
                </a>

            </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse mega-menu navbar-responsive-collapse">
                <div class="container">

                    <ul class="nav navbar-nav">
                        <li>
                            <div class="searchbox">
                                <div class="input-group">
                                <input type="text" class="form-control" placeholder="Buscar">
                                <span class="input-group-btn">
                                    <button class="btn-u" type="button">Ir</button>
                                </span>
                                </div>
                            </div>

                        </li>
                        <!-- Home -->
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                                Inicio
                            </a>
                        </li>




                        <!-- End Home -->

                        <style type="text/css">
                           .nav .searchbox {
                                display: block;
                                padding: 30px 30px 26px 20px;
                                font-size: 13px;
                                width: 330px;

                            }

                        </style>

                        <!-- Search Block -->
                    </ul>


                </div><!--/end container-->
            </div><!--/navbar-collapse-->
        </div>
    </div>
    <!-- End Navbar -->
</div>
<!--=== End Header v3 ===-->